<html>
  <head>
    <title>Survey Form</title>
  </head>
  <body>
    <h1 id="title">Que tipo de tecnologias te llaman la atención</h1><br>
    <p id="description">Gracias por tomarte unos minutos para dejarnos saber que tecnologias usas para desarrollar</p>
    <div class="container">
      <form id="surver-form" action="/">
        <label id="name-label" for="name">Nombre
          <input id="name" type="text" placeholder="Ingrese su Nombre">
        </label>
        <br>
        <label id="email-label" for="email">Email
          <input id="email" type="email" placeholder="Ingrese su Correo">
        </label>
        <br>
        <label id="number-label" for="number">Celular
          <input id="number" type="number" min="18" max="100" placeholder="Ingrese su Edad">
        </label>
        <button id="submit">Continuar</button>
      </form>
    </div>
  </body>
  <footer>
  </footer>
</html>